@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1rem;
  outline: none;
}

html {
  background-color: #F1F1F4;
}

body {
  max-width: 1064px;
  min-width: 1064px;
  margin: auto;
  padding: 40px;
  background: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-weight: bold;
}

h1 {
  font-size: 2.625rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.625rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

button {
  font-size: 1rem;
}

.center {
  text-align: center;
}

.title-color {
  background-color: #B2EBF2;
  padding: 10px;
  border-radius: 5px;
}

.introduction {
  display: flex;
  align-items: center;
  padding: 20px;
}

.profile-image img {
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}

.profile-info {
  margin-left: 20px;
}

.profile-info h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.profile-info p {
  margin: 5px 0;
  color: #666;
}

.horizontal-line {
  border-top: 1px solid black;
  width: 100%;
  height: 0;
  margin: 20px 0;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* 既存のスタイル */
.activities,
.create,
.next_pages,
.hogehoge {
  flex: 0 0 48%;
  margin-bottom: 20px;

  /* 新しいアニメーションのスタイルを追加 */
  animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@media screen and (max-width: 768px) {

  .activities,
  .create,
  .next_pages,
  .hogehoge {
    flex: 0 0 100%;
  }
}

/* アニメーションのキーフレーム定義 */
@keyframes slideIn {
  0% {
    transform: translateX(180px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
  }

  40%,
  100% {
    opacity: 1;
  }
}


.custom-link {
  text-decoration: none;
  color: inherit;
}

.link-container {
  max-width: 600px;
  margin: auto;
}

.link-content {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.link-icon {
  width: 50px;
  margin-right: 10px;
}

.link-info h4 {
  margin: 0;
  color: #333;
}

.link-info p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.wrapper .A,
.wrapper .B {
  text-align: center;
  width: 50%;
}

.wrapper .A {
  float: left;
}

.wrapper .B {
  float: right;
}

.btn {
  border: 1px solid #003EE5;
  position: relative;
  padding: 0.3rem 6rem;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 0.5rem;
  width: fit-content;
  font-weight: 700;
  letter-spacing: 0.04em;
  font-feature-settings: 'pwid' on;
  color: #FFFFFF;
  background: #003EE5;
  min-width: 256px;
}

.btn:hover,
.btn:active {
  background: #0030B2;
  border: 1px solid #0030B2;
}

.btn:focus {
  border: 1px solid #D18D0F;
}

.btn:disabled {
  border: 1px solid #949497;
  background: #949497;
  pointer-events: none;
}

.btn.btn--secondary {
  color: #003EE5;
  background: #FFFFFF;
  border: 1px solid #003EE5;
  border-radius: 8px;
}

.btn.btn--secondary:hover,
.btn.btn--secondary:active {
  color: #0030B2;
  background: #E8F1FE;
  border: 1px solid #0030B2;
}

.btn.btn--secondary:focus {
  border: 1px solid #D18D0F;
  background: transparent;
}

.btn.btn--secondary:disabled {
  border: 1px solid #949497;
  background: #FFFFFF;
  color: #949497;
}

.btn.btn--tertiary {
  color: #003EE5;
  background: transparent;
  border: 1px solid transparent;
  text-decoration-line: underline;
}

.btn.btn--tertiary:hover,
.btn.btn--tertiary:active {
  color: #0030B2;
  border: 1px solid transparent;
}

.btn.btn--tertiary:focus {
  border: 1px solid #D18D0F;
}

.btn.btn--tertiary:disabled {
  border: 1px solid transparent;
  color: #949497;
}

.inputtext,
.select {
  margin: 8px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  width: 327px;
  height: 56px;
  background: #FFFFFF;
  border: 1px solid #1A1A1C;
  border-radius: 8px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.input:focus,
.select:focus {
  border: 1px solid #D18D0F;
}

.input_error,
.select_error {
  border: 1px solid #EC0000;
}

.input_label,
.input_label_required,
.input_label_option {
  font-weight: 600;
  font-size: 14px;
  line-height: 175%;
  letter-spacing: 0.04em;
  font-feature-settings: 'pwid' on;
  color: #1A1A1C;
}

.input_label_required {
  margin-left: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.0125em;
  color: #EC0000;
}

.input_label_option {
  margin-left: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.0125em;
  color: #999999;
}

.input_helptext {
  width: 327px;
  height: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.0125em;
  color: #626264;
}

input[type=radio],
input[type=checkbox] {
  opacity: 0;
  position: absolute;
}

.radio_btn_tile,
.checkbox_label {
  cursor: pointer;
  box-sizing: border-box;
  margin: 8px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 327px;
  height: 74px;
  background: #FFFFFF;
  border: 1px solid #1A1A1C;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.radio_btn,
.checkbox_icon,
.checkbox {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 4px solid #FFFFFF;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 2px #1A1A1C;
}

.radio_btns input[type=radio]:checked+.radio_btn_tile,
.checkboxes input[type=checkbox]:checked+.checkbox_label .checkbox_icon .checkbox {
  border: 1px solid #003EE5;
  background-color: #003EE5;
}

.description,
.place_holder,
.link,
.visited,
.alert,
.disabled {
  color: #626264;
}

.alert {
  color: #EC0000;
}

.disabled {
  color: #949497;
}